<div id="sidebar" class="span-8">
    <div id="menu" class="span-6">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/golden_handle/index.html">The Golden Handle</a></li>
            <li><a href="/reviews/index.html">Reviews</a></li>
            <li><a href="/about/index.html">About Josh</a></li>
        </ul>
    </div>
    <div id="temp_space_1" class="span-2 last"> </div>
    <div id="contact" class="span-6">
        <strong>Contact:</strong>
        <ul>
            <li><a href="mailto: berma106@mail.chapman.edu">Email</a></li>
            <li><a href="http://www.facebook.com/">Facebook</a></li>
            <li><a href="http://www.twitter.com/">Twitter</a></li>
        </ul>
    </div>
    <div id="temp_space_2" class="span-2 last"> </div>
</div>
